.second-container {
	display: flex;
	flex-direction: column;
	background-color: rgb(13, 13, 93);
	color: white;

	.top {
		display: flex;
		color: white;
		gap: 0.5rem;

		.left {
			flex: 2;
			color: white;
			padding: 1rem;
			h1 {
				font-size: 1.5rem;
			}
		}
		.right {
			padding: 1rem;
			flex: 5;
			p {
				font-size: 1.5rem;
			}
		}
	}
	.bottom {
		display: flex;
		justify-content: space-evenly;
		.left {
			display: flex;
			flex-direction: column;
			text-align: left;
			margin-left: 0.5rem;
			flex: 2;

			h1 {
				font-family: Arial, Helvetica, sans-serif;
			}
			.divider {
				margin-top: -1rem;
				width: 5rem;
				background-color: goldenrod;
				height: 3px;
			}
			span {
				margin-top: 1rem;
				font-size: 1.5rem;
			}
			p {
				width: 80%;
			}
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40%;
				font-weight: bold;
				padding: 0.5rem;
				border: 2px solid goldenrod;
				background: transparent;
				color: white;
				font-size: 1rem;

				&:hover {
					background-color: goldenrod;
				}
			}
		}
		.right-container {
			background-color: wheat;
			flex: 2;
			display: flex;
			gap: 0.2rem;
			flex-wrap: wrap;
			.right {
				align-items: center;
				justify-content: center;
				margin-top: 0.5rem;
				flex: 2;
				display: flex;
				gap: 0.2rem;
				flex-wrap: wrap;
				.services {
					align-items: center;
					width: 30%;

					img {
						width: 100%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.second-container {
		.top {
			display: flex;
			flex-direction: column;
			.left {
				h1 {
					font-size: 1.2rem;
				}
			}
			.right {
				p {
					font-size: 20px;
				}
			}
		}
		.bottom {
			display: flex;
			flex-direction: column;
			.left {
				h1 {
					font-size: 20px;
				}
				.divider {
					margin-top: -2rem;
					width: 10rem;
				}
				span {
					font-size: 20px;
				}
				a {
					width: 90%;

					button {
						width: 100%;
					}
				}
			}
		}

		.right-container {
			flex-direction: column;
			.right {
				padding: 0.5rem;
				display: flex;
				.services {
					width: 80%;
					img {
						width: 100%;
					}
				}
			}
		}
	}
}
