// Base breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

.navigationbar {
	flex-wrap: wrap;

	.CompanyLogos {
		flex-direction: row;
		justify-content: space-between;

		.hamburger {
			display: none;
		}

		h1 {
			font-size: 1.2rem;
		}

		p {
			font-size: 0.8rem;
		}
	}
	.hideMenu {
		display: flex;
		align-items: center;
		padding: 0.5rem;
		margin-right: 1rem;
		gap: 1rem;

		.nav-link {
			text-decoration: none;
			padding: 0 1rem;
			p {
				color: black;
			}
		}
		.dropdown {
			background-color: blue;
		}
	}
	.mainPages {
		display: flex;
	}
	.mainPages {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	@media (max-width: $breakpoint-sm) {
		align-items: flex-start;
		padding: 10px;

		.CompanyLogos {
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 10px;
			img {
				display: none;
			}
			div {
				h1 {
					font-size: 1rem;
					white-space: nowrap;
				}
			}

			.hamburger {
				display: flex;
				margin: 1rem;
				font-size: 2rem !important;
			}
		}
		.mainPages {
			display: none;
		}
		.hideMenu {
			display: none;
			width: 100%;
			margin: 0;

			.nav-link,
			.MenuButton {
				width: 100%;
				text-align: left;
				margin: 5px 0;
			}

			.Dropdown {
				width: 100%;

				.Menu {
					position: relative;
					width: 100%;

					.MenuItem .menu-link {
						width: 100%;
					}
				}
			}
		}
	}
}
