.container {
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 0;
	}
	.first-section,
	.text,
	.buttons,
	img,
	div {
		position: relative;
		z-index: 1;
	}
	.first-section {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		gap: 2rem;
		padding: 1rem;

		.AboutCompany {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			color: white;

			img {
				width: 5rem;
				height: 5rem;
				border-radius: 50%;
				object-fit: cover;
			}
			div {
				display: flex;
				flex-direction: column;
				align-items: center;
				h1 {
					font-size: 1.4rem;
					font-family: "Outfit", sans-serif;
					font-optical-sizing: auto;
					font-style: normal;
				}
				span {
					text-align: center;
					font-size: 1.2rem;
				}
			}
		}

		.ContactDetails {
			display: flex;
			flex-direction: column;
			color: white;

			.top {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;

				div {
					display: flex;
					align-items: center;
					padding: 0.2rem;
					span {
						font-size: 1.2rem;
					}
				}
				.divider {
					width: 0.001rem;
					background-color: rgb(86, 86, 121);
					margin: 0 20px;
					height: 2rem;
				}
				p {
					font-size: 1rem;
					padding: 0.4rem;
				}
			}

			.bottom {
				display: flex;
				align-items: center;
				gap: 2.5rem;
				color: wheat;

				.button {
					color: wheat;
					background-color: white;
				}
				a {
					padding: 0.5rem;
					font-size: 1.5rem;
					text-decoration: none;
					color: rgb(244, 242, 237);

					&:hover {
						cursor: pointer;
						text-decoration: underline;
						color: white;
					}
				}
			}
		}
	}

	.text {
		margin-top: 1rem;
		display: flex;
		margin-left: 1rem;
		align-items: center;
		color: white;
		width: 100%;
		.top {
			flex: 1.5;
			display: flex;
			flex-direction: column;
			h1 {
				font-size: 4rem;
				font-family: Arial, Helvetica, sans-serif;
			}

			span {
				font-size: 1.5rem;
			}
		}
		.bottom {
			display: flex;
			flex-direction: column;
			flex: 1;
			img {
				width: 100%;
				max-width: 400px;
				height: auto;
				transition: all 0.5s;
			}
		}
	}
	.buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 1rem;
		button {
			width: 10rem;
			height: 3rem;
			background-color: rgb(25, 50, 192);
			font-size: 1.2rem;
			color: wheat;
		}
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: 100%;
		.first-section {
			.ContactDetails {
				.bottom {
					display: flex;
					justify-content: space-between;
					align-items: center;
					a {
						display: none;
						font-size: 14px;
					}
				}
			}
		}

		.text {
			display: flex;
			flex-direction: column;
			.top {
				h1 {
					font-size: 35px;
					font-weight: bolder;
				}
				span {
					font-size: 20px;
				}
			}
			.bottom {
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					width: 87%;
					height: 200px;
				}
			}
		}
		.buttons {
			a {
				margin-bottom: 1rem;
				button {
					font-size: 1rem;
				}
			}
		}
	}
}
